In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Heroes_of_Pymoli_df = pd.read_csv(csvpath)
Heroes_of_Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
#Display total players
total= {'Total Players':[len(Heroes_of_Pymoli_df['SN'].value_counts())]}
total_players = pd.DataFrame(total)
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Unique_items = (Heroes_of_Pymoli_df["Item ID"].nunique())
Unique_items

179

In [5]:
Average_price = round(Heroes_of_Pymoli_df["Price"].mean(), 2)
Average_price

3.05

In [6]:
total_purchases = (Heroes_of_Pymoli_df["SN"].count())
total_purchases

780

In [7]:
total_revenue = (Heroes_of_Pymoli_df["Price"].sum())
total_revenue

2379.77

In [8]:
#Summary Data Frame
Unique_items = (Heroes_of_Pymoli_df["Item ID"].nunique())
Average_price = round(Heroes_of_Pymoli_df["Price"].mean(), 2)
total_purchases = (Heroes_of_Pymoli_df["SN"].count())
total_revenue = (Heroes_of_Pymoli_df["Price"].sum())
Summary = {'Unique Items':[Unique_items], 'Average Price' :[Average_price], 'Total Purchases' : [total_purchases], 'Total Revenue' : [total_revenue]}
Summary_table = pd.DataFrame(Summary)
Summary_table

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179           3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
Gender_stats = Heroes_of_Pymoli_df.groupby(['Gender'])
Male_df = Heroes_of_Pymoli_df.groupby(['Gender']).get_group(('Male'))
Male_count = len(Male_df['SN'].unique())
Male_count

484

In [10]:
Gender_stats = Heroes_of_Pymoli_df.groupby(['Gender'])
Female_df = Heroes_of_Pymoli_df.groupby(['Gender']).get_group(('Female'))
Female_count = len(Female_df['SN'].unique())
Female_count

81

In [11]:
Gender_stats = Heroes_of_Pymoli_df.groupby(['Gender'])
Other_df = Heroes_of_Pymoli_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other_count = len(Other_df['SN'].unique())
Other_count

11

In [12]:
total_count = len(Heroes_of_Pymoli_df["SN"].unique())
Percent_Male_Count= round((Male_count/total_count)*100, 2)
Percent_Female_Count= round((Female_count/total_count)*100, 2)
Percent_Other_Count= round((Other_count/total_count)*100, 2)

In [13]:
#Gender DataFrame 
Gender_df = {'Percent of Players':[Percent_Male_Count, Percent_Female_Count,Percent_Other_Count], 
        'Gender': ['Male', 'Female', 'Other'], 'Count of Players': [Male_count, Female_count, Other_count]}
Gender = pd.DataFrame(Gender_df)
Gender = Gender.set_index('Gender')
Gender

        Percent of Players  Count of Players
Gender
Male                 84.03               484
Female               14.06                81
Other                 1.91                11

In [14]:
#Purchasing Analysis by Gender
Male_purchase_count = len(Male_df)
MaleAvgPrice =round((Male_df["Price"].sum())/len(Male_df["Price"]),2)
Female_purchase_count = len(Female_df)
FemaleAvgPrice =round((Female_df["Price"].sum())/len(Female_df["Price"]),2)
Other_purchase_count = len(Other_df)
OtherAvgPrice =round((Other_df["Price"].sum())/len(Other_df["Price"]),2)

#Total purchase value by Gender
MalePurchaseTotal = round(Male_df['Price'].sum(), 2)
FemalePurchaseTotal = round(Female_df['Price'].sum(), 2)
OtherPurchaseTotal = round(Other_df['Price'].sum(), 2)

#Average Total Purchase per Person
MaleAvgPurchase = round((MalePurchaseTotal/Male_purchase_count), 2)
FemaleAvgPurchase = round((FemalePurchaseTotal/Female_purchase_count), 2)
OtherAvgPurchase = round((OtherPurchaseTotal/Other_purchase_count), 2)


#summary table
Purchases_by_Gender = {"Purchase Count":[Male_purchase_count,Female_purchase_count,Other_purchase_count],
                    "Gender":["Male","Female","Other"],
                    "Average Purchase Price":[MaleAvgPrice,FemaleAvgPrice,OtherAvgPrice], 
                    "Total Purchase Value":[MalePurchaseTotal,FemalePurchaseTotal,OtherPurchaseTotal],
                    "Avg Total Purchase per Person":[MaleAvgPurchase,FemaleAvgPurchase,OtherAvgPurchase]}
PurchasesByGender = pd.DataFrame(Purchases_by_Gender)
PurchasesByGender = PurchasesByGender.set_index('Gender')
PurchasesByGender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.02,1967.64,3.02
Female,113,3.20,361.94,3.20
Other,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
Max_Age = Heroes_of_Pymoli_df['Age'].max()
Max_Age

45

In [16]:
Min_Age = Heroes_of_Pymoli_df['Age'].min()
Min_Age

7

In [17]:
#create bins that are 5 years apart 
Age_bins = [0,10,15,20,25,30,35,40,45]
Agelabels = ["<10","11-15","16-20","21-25","26-30","31-35","36-40","41-45"]
Heroes_of_Pymoli_df['Age Summary'] = pd.cut(Heroes_of_Pymoli_df['Age'],Age_bins,labels= Agelabels)
Age_bins

[0, 10, 15, 20, 25, 30, 35, 40, 45]

In [18]:
#Purchase Count
Bin1 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('<10'))
purchase_count1 = len(Bin1['SN'].unique())
ForBin1 = (purchase_count1/total_count)*100

Bin2 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('11-15'))
purchase_count2= len(Bin2['SN'].unique())
ForBin2 = (purchase_count2/total_count)*100

Bin3 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('16-20'))
purchase_count3= len(Bin3['SN'].unique())
ForBin3 = (purchase_count3/total_count)*100

Bin4 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('21-25'))
purchase_count4= len(Bin4['SN'].unique())
ForBin4 = (purchase_count4/total_count)*100

Bin5 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('26-30'))
purchase_count5 = len(Bin5['SN'].unique())
ForBin5 = (purchase_count5/total_count)*100

Bin6 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('31-35'))
purchase_count6= len(Bin6['SN'].unique())
ForBin6 = (purchase_count6/total_count)*100

Bin7 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('36-40'))
purchase_count7 = len(Bin7['SN'].unique())
ForBin7 = (purchase_count7/total_count)*100

Bin8 = Heroes_of_Pymoli_df.groupby(['Age Summary']).get_group(('41-45'))
purchase_count8 = len(Bin8['SN'].unique())
ForBin8 = (purchase_count8/total_count)*100

Bin_Count=[purchase_count1,purchase_count2,purchase_count3,purchase_count4,purchase_count5,purchase_count6,purchase_count7,purchase_count8]
Bin_Percent= [ForBin1,ForBin2,ForBin3,ForBin4,ForBin5,ForBin6,ForBin7,ForBin8]
Bin_Percent= [round(x, 2) for x in Bin_Percent]

Age_stats = {"Age Summary":Agelabels,"Total Player Count":Bin_Count,"Percentage Of Players":Bin_Percent}
AgeStats = pd.DataFrame(Age_stats)
AgeStats = AgeStats.set_index('Age Summary')
AgeStats

             Total Player Count  Percentage Of Players
Age Summary
<10                          24                   4.17
11-15                        41                   7.12
16-20                       150                  26.04
21-25                       232                  40.28
26-30                        59                  10.24
31-35                        37                   6.42
36-40                        26                   4.51
41-45                         7                   1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
Age_Purchase_Count = pd.DataFrame({"Age": ["<10", "11-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41-45"],
                              "Purchase Count": [Bin1["Price"].count(), Bin2["Price"].count(), Bin3["Price"].count(), Bin4["Price"].count(), Bin5["Price"].count(), Bin6["Price"].count(), Bin7["Price"].count(), Bin8["Price"].count()],
                              "Average Purchase Price": [Bin1["Price"].mean(), Bin2["Price"].mean(), Bin3["Price"].mean(), Bin4["Price"].mean(), Bin5["Price"].mean(), Bin6["Price"].mean(), Bin7["Price"].mean(), Bin8["Price"].mean()], 
                              "Total Purchase Value": [Bin1["Price"].sum(), Bin2["Price"].sum(), Bin3["Price"].sum(), Bin4["Price"].sum(), Bin5["Price"].sum(), Bin6["Price"].sum(), Bin7["Price"].sum(), Bin8["Price"].sum()],
                              "Avg Total Purchase per Person": [Bin1["Price"].sum()/Bin1['SN'].nunique(), Bin2["Price"].sum()/Bin2['SN'].nunique(), Bin3["Price"].sum()/Bin3['SN'].nunique(), 
                                                    Bin4["Price"].sum()/Bin4['SN'].nunique(), Bin5["Price"].sum()/Bin5['SN'].nunique(), 
                                                    Bin6["Price"].sum()/Bin6['SN'].nunique(), Bin7["Price"].sum()/Bin7['SN'].nunique(), 
                                                    Bin8["Price"].sum()/Bin8['SN'].nunique()]}, 
                             columns =  ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

AgePurchaseCount = Age_Purchase_Count.set_index("Age")

AgePurchaseCount.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
#Top Spenders
SN = Heroes_of_Pymoli_df.groupby(Heroes_of_Pymoli_df["SN"])
ScreenName = SN["SN"].unique()

#Purchase Count
SNCount = SN['Age'].count()

#Average Purchase Price
SNAverage = round(SN['Price'].mean(),2)

#Total Purchase Value
SNTotal = SN['Price'].sum()


TopSpend = {"SN":ScreenName,"Purchase Count":SNCount,
                 "Average Purchase Price":SNAverage,"Total Purchase Value":SNTotal}
TopSpend1= pd.DataFrame(TopSpend)
TopSpend1= TopSpend1.set_index('SN')
TopSpend1 = TopSpend1.sort_values("Total Purchase Value",ascending=False)
TopSpend1 = TopSpend1[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

TopSpend1.iloc[:5]

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                 5                    3.79                 18.96
[Idastidru52]               4                    3.86                 15.45
[Chamjask73]                3                    4.61                 13.83
[Iral74]                    4                    3.40                 13.62
[Iskadarya95]               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#Item ID
ItemId = Heroes_of_Pymoli_df.groupby(Heroes_of_Pymoli_df['Item ID'])
Items = ItemId['Item ID'].unique()
#Item Name

ItemName = ItemId["Item Name"].unique()
#Purchase Count
ItemPurchaseCount = ItemId['Age'].count()

#Item Price
ItemPrice= ItemId['Price'].unique()

In [22]:
#Total Purchase Value
ItemTotalPurchase = ItemId['Price'].sum()

ItemTable = {'Item ID':Items,'Item Name':ItemName,'Item Price':ItemPrice,'Item Count':ItemPurchaseCount,'Total Purchase':ItemTotalPurchase}
ItemTable1 = pd.DataFrame(ItemTable)
ItemTable1 = ItemTable1.set_index('Item ID')
ItemTable1= ItemTable1.sort_values('Item Count', ascending=False)
ItemTable1 = ItemTable1[['Item Name','Item Count','Item Price','Total Purchase']]
ItemTable1.iloc[:5]

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[145],[Fiery Glass Crusader],9,[4.58],41.22
[132],[Persuasion],9,"[3.19, 3.33]",28.99
[108],"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
MostProfit= ItemTable1.sort_values('Total Purchase', ascending=False)
MostProfit[:5]

,Item Name,Item Count,Item Price,Total Purchase
Item ID,,,,
[92],[Final Critic],13,"[4.88, 4.19]",59.99
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
[82],[Nirvana],9,[4.9],44.10
[145],[Fiery Glass Crusader],9,[4.58],41.22
[103],[Singed Scalpel],8,[4.35],34.80